@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

}


@theme {
    --color-accent: var(--color-emerald-600);
    --color-accent-content: var(--color-emerald-600);
    --color-accent-foreground: var(--color-white);
} @layer theme {
    .dark {
        --color-accent: var(--color-emerald-600);
        --color-accent-content: var(--color-emerald-400);
        --color-accent-foreground: var(--color-white);
    }
}

[data-flux-navbar-items] {
    @apply text-white;
}

body {
    @apply bg-zinc-100 text-zinc-700;
}

a.link {
    @apply text-emerald-600 hover:underline;
}

.list-group {
    @apply divide-y divide-gray-100 dark:divide-white/5  text-sm;
}

.list-item {
    @apply flex flex-wrap items-center justify-between gap-x-2 gap-y-2 py-2 sm:flex-nowrap;
}